* {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: #2c3e50;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #2c3e50 !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.image {
  background-image: url("../image/tech.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 1.2;
  opacity: 0.9;
}

h1 {
  color: black;
  padding: 5px;
  font-size: 55px;
  font-family: 25px;
  margin-bottom: 85px;
}

h2 {
  padding-top: 45px;
}

p {
  font-size: 20px;
  padding: 10px;
}

.row {
  padding: 50px;
}

#contact {
  background-image: url("https://static.pexels.com/photos/374710/pexels-photo-374710.jpeg");
  padding: 80px;
  color: #fff;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0, 20px;
  line-height: 1.2;
}

.list-group {
  font-size: 15px;
  color: #2c3e50;
}

.space {
  font-size: 15px;
}

.panel-title {
  font-size: 15px;
  color: #fff;
}

.generic-anchor {
  font-size: 80px;
  padding: 40px;
}

a {
  color: #fff;
}

footer {
  background-color: #3a6186;
}
